{% extends '__base.html' %}

 {% block content %}

  {% load static %}
  {% load main_marketing %}

  <center>
  <section id ="myCarousel" class="carousel slide" data-ride="carousel" style="max-width: 960px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <figure class="item active">
        <img src="{% static 'img/01.jpg' %}" alt="Paradise" style="max-height: 540px;">
        <figcaption class="carousel-caption">
          <h1>Join the Adventure</h1>
          <p>For the love of mountain biking!</p>
          <p><a class="btn btn-lg btn-primary" href="{% url 'register' %}" role="button">Sign Up Today</a></p>
        </figcaption>
      </figure>
      <figure class="item">
        <img src="{% static 'img/02.jpg' %}" alt="Scenery" style="max-height: 540px;">
        <figcaption class="carousel-caption">
          <h1>Share your story</h1>
          <p>Weekly adventure, Daily chats, Monthly meetups</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">I'm ready to share</a></p>
        </figcaption>
      </figure>
      <figure class="item">
        <img src="{% static 'img/03.jpg' %}" alt="heaven" style="max-height: 540px;">
        <figcaption class="carousel-caption">
          <h1>Meet fellow Mountain Bikers</h1>
          <p>Join adventure with people near you.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Check The Members Map</a></p>
        </figcaption>
      </figure>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </section>
</center>
<br><br>

<section class="container marketing">
  <!--Three columns of text below the carousel -->
  <div class="row center-text">
    {% marketing_circle__item img_name='ericface.jpg' heading='Your Own Profile' caption='Create your own profile and share your story and exploits with others' %}
    
    {% marketing_circle__item img_name='discover.jpg' heading='Find New Trails' caption='Discover new area you never heard about' %}
    
    {% marketing_circle__item img_name='meet.jpg' heading='Make New Friends' caption='Meet new people and join them on their own adventure.' button_title='Sign Up Now' %}
  </div>
</section>

{% endblock %}

